<div style="text-align: center"><h1>Routing and Navigation</h1></div>
<nav>
  <a routerLink="/department" routerLinkActive="active">Department</a>
  <a routerLink="/employee" routerLinkActive="active">Employee</a>
</nav>
<router-outlet></router-outlet>
<!-- this router-outlet directive let angular know where to place the compnent upon asking for links -->
<!-- a tags let us make the angular link and routerLink="/path we specified in app-routing.module.ts" -->
<!-- routerLinkActive make the link highlighted when clicked -->
